.popup{
  display: block;
  opacity: 0;
  visibility: hidden;
}

.popup_open {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px){
  .menu {
    display: flex;
    justify-content: center;
    width: 520px;
    background-color: #202020;
    margin-left: auto;
  }
}

@media screen and (max-width: 425px){
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .menu__navigation {
    width: 100%;
    padding-top: 159px;
    padding-bottom: 68px;
    position: relative;
  }
}

@media screen and (max-width: 425px){
  .menu__navigation {
    padding-top: 144px;
    padding-bottom: 46px;
  }
}

@media screen and (max-width: 768px){
  .menu__cross {
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 27px;
    right: 30px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__cross::before,
  .menu__cross::after {
    position: absolute;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: #ffffff;
  }

  .menu__cross::before {
    transform: rotate(45deg);
  }

  .menu__cross::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 523px){
  .menu__cross {
    right: 45px;
  }
}

@media screen and (max-width: 497px){
  .menu__cross {
    right: 70px;
  }
}

@media screen and (max-width: 467px){
  .menu__cross {
    right: 95px;
  }
}

@media screen and (max-width: 441px){
  .menu__cross {
    right: 115px;
  }
}

@media screen and (max-width: 425px){
  .menu__cross {
    top: 18px;
    right: 35px;
  }
}

@media screen and (max-width: 768px){
  .menu__list {
    width: 520px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px){
  .menu__list-item {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .menu__list-item:last-child {
    margin-top: calc(621px - 28px);
  }
}

@media screen and (max-width: 425px){
  .menu__list-item {
    margin-bottom: 15px;
  }

  .menu__list-item:last-child {
    margin-top: calc(444px - 24px);
  }
}

@media screen and (max-width: 768px){
  .menu__list-item_default {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 425px){
  .menu__list-item_default {
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 768px){
  .menu__list-item_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #ffffff;
  }
}

@media screen and (max-width: 425px){
  .menu__list-item_active {
    padding-bottom: 7px;
    border-bottom: 2px solid #ffffff;
  }
}

@media screen and (max-width: 768px){
  .menu__list-link {
    color: #ffffff;
  }
}

