.profile {
  min-height: 626px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 70px;
  font-style: normal;
}

.profile:first-child {
  border: 3px dotted red;
}

@media screen and (max-width: 768px){
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }
}

@media screen and (max-width: 425px){
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__list {
  margin: 0;
  padding-left: 0;
  min-width: 410px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}

.profile__list:first-child {
  margin-bottom: 17px;
  padding-top: 123px;
  padding-bottom: 17px;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px){
  .profile__list:first-child {
    padding-top: 96px;
  }
}

@media screen and (max-width: 425px){
  .profile__list {
    min-width: 260px;
  }

  .profile__list:first-child {
    padding-top: 80px;
  }
}

.profile__list-item {

}

.profile__list-item:last-child {
  font-weight: 400;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 425px){
  .profile__list-item:last-child {
    margin-left: 10px;
  }
}

.profile__data {
  margin: 0;
}

.profile__data:last-child {
  padding: 0;
  text-align: end;
}

.profile__buttons-block {
  padding-top: 220px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .profile__buttons-block {
    padding-top: 210px;
  }
}

.profile__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.profile__button:last-child {
  margin-top: 16px;
}

.profile__text {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 425px){
  .profile__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile_color_white {
  color: #ffffff;
  font-weight: 400;
}

.profile_color_red {
  color: #EE3465;
  font-weight: 500;
}
