.page {
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 0 0 10000px #ffffff;
}

.page__container {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .page__container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279px) {
  .page__container {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page__container {
    min-width: 320px;
  }
}

/* .content {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
} */
