.movies__block-message {
  display: flex;
  justify-content: start;
  align-items: center;
}

.movies__message {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .06em;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .movies__message {
    font-size: 16px;
    line-height: 20px;
  }
}

.movies__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  column-gap: 30px;
  row-gap: 60px;
}

@media screen and (max-width: 768px){
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 47px;
  }
}

@media screen and (max-width: 425px){
  .movies__list {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: minmax(168px, 1fr);
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 40px;
  }
}

.additional {
  padding-top: 50px;
  padding-bottom: 80px;
  /* display: flex; */
  justify-content: center;
}

.additional_visibility_present {
  display: flex;
}

.additional_visibility_ubsent {
  display: none;
}

.additional__button {
  width: 320px;
  height: 36px;
  padding: 0;
  border: 1px solid #424242;
  background-color: transparent;
}

@media screen and (max-width: 425px){
  .additional__button {
    width: 240px;
    height: 36px;
  }
}

.additional__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
