.portfolio {
  padding-bottom: 125px;
  grid-column: 1/3;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 660px) {
  .portfolio {
    grid-column: 1;
  }
}

@media screen and (max-width: 660px) {
  .portfolio {
    padding-bottom: 70px;
  }
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  mix-blend-mode: normal;
}

.portfolio__title::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.portfolio__paragraph-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .portfolio__paragraph-list {
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__paragraph-list {
    row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio__paragraph-list {

  }
}

.portfolio__paragraph-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px) {
  .portfolio__paragraph-item {
    border-color: #E6E6E6;
  }
}

@media screen and (max-width: 425px) {
  .portfolio__paragraph-item {
    padding-bottom: 19px;
  }
}

.portfolio__paragraph-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.portfolio__paragraph-link {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -.04em;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .portfolio__paragraph-link {
    font-size: 28px;
    line-height: 1.79;
  }
}

@media screen and (max-width: 425px) {
  .portfolio__paragraph-link {
    font-size: 18px;
    line-height: 1.56;
  }
}

.portfolio__subtitle {
  margin: 0;
}

.portfolio__subtitle::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .portfolio__line {
    margin-top: 19px;
    border-bottom: 1px solid #E6E6E6;
  }
}

.portfolio__list-link {
  margin-top: 5px;
  margin-right: 5px;
}
