.navigate {
  display: flex;
  justify-content: center;
  background-color: #272727;
  min-height: 66px;
}

.navigate__list {
  padding: 24px 0;
}

.navigation {
  width: fit-content;
}

.navigation__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style-type: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
}

@media screen and (max-width: 1024px){
  .navigation__list {
    padding: 25px 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 425px){
  .navigation__list {
    column-gap: 24px;
    font-size: 11px;
    line-height: 1.45;
  }
}

.navigation_gap-size_large {
  column-gap: 40px;
}

.navigation_gap-size_small {
  column-gap: 20px;
}

.navigation__list-link {
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navigation__list-link:hover {
  opacity: 0.8;
}

.navigation__list-link::first-letter {
  text-transform: uppercase;
  }

