.header {
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 425px){
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header_background-color_blue {
  background-color: #073042;
}

.header_background-color_black {
  background-color: #202020;
}

.header__logo {
  max-width: 38px;
  max-height: 38px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: 0.8;
}
