<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
  <link rel="stylesheet" href="./pages/index.css">
</head>

<!-- body.page>.page__container>hdr.header.section.page__header>.logo.header__logo>img.logo__image[alt='Логотип маленький круг']^ul.header__auth-list>.header__auth-item*2>a.header__auth-link.header__auth-link_active{Войти$}^^^mn.content.page__content>sect.banner$$.section.section_size_narrow.content__section*5>h1.banner$$__title{'Учебный проект студента факультета Веб-разработки.'}^^^ftr.footer.section.page__footer>.footer__block-column>p.footer__text{'Учебный проект Яндекс.Практикум х BeatFilm.'}+.footer__block-linear>p.footer__copyright{'2021'}+nav.navigation>ul.navigation__list>.navigation__item*3>a.navigation__list-link[target="_blank"]{"Яндекс.Практикум $"} -->

<body class="page">
  <div class="page__container">
    <header class="header section page__header">
      <a href="" class="logo header__logo"><img src="./images-new/__logo.svg" alt="Логотип маленький круг"
          class="logo__image"></a>
      <ul class="header__auth-list">
        <li class="header__auth-item"><a href="" class="header__auth-link">регистрация</a></li>
        <li class="button header__auth-item header__button"><a href=""
            class="header__auth-link header__auth-link_active">войти</a></li>
      </ul>
    </header>
    <main class="content page__content">
      <section class="banner section content__section">
        <!-- <h1 class="banner__title">учебный проект студента факультета&nbsp;Веб-разработки.</h1> -->
        <h1 class="banner__title">учебный проект студента факультета Веб-разработки.</h1>
        <div class="logo banner__logo"><img src="./images-new/__logo-main.svg" alt="Логотип с изображением круга"
            class="banner__logo-main"></div>
      </section>
      <section class="navigate section content__section">
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="#project" class="navigation__list-link navigate__link" target="_blank">О
                проекте</a>
            </li>
            <li class="navigation__item">
              <a href="#technology" class="navigation__list-link navigate__link" target="_blank">Технологии</a>
            </li>
            <li class="navigation__item">
              <a href="#student" class="navigation__list-link navigate__link" target="_blank">Студент</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="project section section_size_narrow content__section" id="project">
        <div class="section__upper">
          <h2 class="section__title">о проекте</h2>
        </div>
        <article class="project-content">
          <h3 class="project-content__paragraph">дипломный проект включал 5 этапов</h3>
          <h3 class="project-content__paragraph project-content__duration">на выполнение диплома ушло 5 недель</h3>
          <p class="project-content__description">составление плана, работу над бэкендом, вёрстку, добавление
            функциональности и финальные доработки.</p>
          <p class="project-content__description">у каждого этапа был мягкий и жёсткий дедлайн, которые нужно
            было соблюдать, чтобы успешно защититься.</p>
        </article>
        <ul class="graphic">
          <li class="graphic__list">
            <p class="graphic__backend">1 неделя</p>
            <p class="graphic__description">back-end</p>
          </li>
          <li class="graphic__list">
            <p class="graphic__frontend">4 недели</p>
            <p class="graphic__description">front-end</p>
          </li>
        </ul>
      </section>
      <section class="section section__add-color">
        <div class="technology  section_size_narrow content__section" id="technology">
          <div class="section__upper">
            <h2 class="section__title">технологии</h2>
          </div>
          <article class="technology-content">
            <h3 class="technology-content__title">7 технологий</h3>
            <p class="technology-content__subtitle">на курсе веб-разработки мы освоили технологии, которые применили в дипломном
              проекте.</p>
            <ul class="technology-content__list">
              <li class="technology-content__item">
                <p class="technology-content__names">HTML</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">CSS</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">JS</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">React</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">Git</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">Express.js</p>
              </li>
              <li class="technology-content__item">
                <p class="technology-content__names">mongoDB</p>
              </li>
            </ul>
          </article>
        </div>
      </section>
      <section class="student section section_size_narrow content__section" id="student">
        <div class="section__upper student__section__header">
          <h2 class="section__title">студент</h2>
        </div>
        <article class="about-me student__about-me">
          <div class="my-favourite">
            <ul class="my-favourite__list">
              <li class="my-favourite__item">
                <p class="my-favourite__name">валерий</p>
              </li>
              <li class="my-favourite__item">
                <p class="my-favourite__job">фронтенд-разработчик, 52 года</p>
              </li>
              <li class="my-favourite__item">
                <p class="my-favourite__biography">родился и живу в Москве, закончил МГЮА по специальности юрист.
                  Работаю адвокатом с 1994 года. Давно интересовался Веб-разработкой и начал кодить
                  самостоятельно. Позже аписался на курс по веб-разработке. Было не очень просто, но, хоть и с
                  двумя академами, все-таки вышел на диплом)</p>
              </li>
            </ul>
            <ul class="my-favourite__social-network-list">
              <li class="my-favourite__item">
                <a href="" class="my-favourite__facebook">Facebook</a>
              </li>
              <li class="my-favourite__item">
                <a href="" class="my-favourite__github">Github</a>
              </li>
            </ul>
          </div>
          <img src="./images-new/__portpholio-my-photo.jpeg" alt="Мое фото" class="my-favourite__photo">
          <article class="portfolio">
            <h3 class="portfolio__title">портфолио</h3>
            <ul class="portfolio__paragraph-list">
              <li class="portfolio__paragraph-item">
                <a href="" class="portfolio__paragraph-link">
                  <p class="portfolio__subtitle">статичный сайт</p>
                  <img src="./images-new/__arrow-up-right.svg" alt="Стрелка  направлена вправо и вверх"
                    class="portfolio__list-link">
                </a>
                <div class="portfolio__line"></div>
              </li>
              <li class="portfolio__paragraph-item">
                <a href="" class="portfolio__paragraph-link">
                  <p class="portfolio__subtitle"> адаптивный сайт</p>
                  <img src="./images-new/__arrow-up-right.svg" alt="Стрелка  направлена вправо и вверх"
                    class="portfolio__list-link">
                </a>
                <div class="portfolio__line"></div>
              </li>
              <li class="portfolio__paragraph-item">
                <a href="" class="portfolio__paragraph-link">
                  <p class="portfolio__subtitle">одностраничное приложение</p>
                  <img src="./images-new/__arrow-up-right.svg" alt="Стрелка  направлена вправо и вверх"
                    class="portfolio__list-link">
                </a>
              </li>
            </ul>
          </article>
        </article>
      </section>
      <!-- sect.short-movies.section.section_size_narrow.content__section>.reseach>input.short-moovies__input+button.reserch__button^button.short-moovies__tumb -->
      <section class="short-movies section section_size_narrow content__section">
        <form class="seach short-movies__seach">
          <label class="short-movies__input-wrapper">
            <input type="text" id="short-movies__input"
            name="film" placeholder="Фильм" class="short-movies__input"
            minLength="2" maxLength="40" required ref={}>
            <button type="button" class="button short-movies__button" aria-label="Поиск">
              <p class="short-movies__text">Поиск</p>
            </button>
            <span class="short-movies__input-error"></span>
          </label>
          <label class="short-movies__tumb">
            <p class="short-movies__description-tumb">
              <!-- <input type="checkbox" class="short-movies__button-tumb" -->
              <input type="radio" class="short-movies__button-tumb"
              name="films" value="short-movies" checked>Короткометражки
            </p>
            <!-- <button type="button" class="short-movies__button-tumb">
              <img src="./images-new/__smalltumb.svg" alt="" class="short-movies__tumb-image">
            </button>
            <p class="short-movies__description-tumb">Короткометражки</p>
            <span class="short-movies__tumb-correction"></span> -->
          </label>
        </form>
      </section>
      <section class="saved-movies section section_size_narrow content__section">
        <!-- ul.saved-movies__list>li.saved-movies__list-item*7>img.saved-movies__photo -->
        <ul class="saved-movies__list">
          <li class="saved-movies__list-item">
            <figure class="saved-movies__item">
              <img src="./images-new/__movie.jpg" alt="Фильм" class="saved-movies__photo">
              <figcaption class="saved-movies__caption">Название фильма</figcaption>
            </figure>
          </li>
          <li class="saved-movies__list-item">
            <figure class="saved-movies__item">
              <img src="./images-new/__movie.jpg" alt="Фильм" class="saved-movies__photo">
              <figcaption class="saved-movies__caption">Название фильма</figcaption>
            </figure>
          </li>
          <li class="saved-movies__list-item">
            <figure class="saved-movies__item">
              <img src="./images-new/__movie.jpg" alt="Фильм" class="saved-movies__photo">
              <figcaption class="saved-movies__caption">Название фильма</figcaption>
            </figure>
          </li>
          <li class="saved-movies__list-item">
            <figure class="saved-movies__item">
              <img src="./images-new/__movie.jpg" alt="Фильм" class="saved-movies__photo">
              <figcaption class="saved-movies__caption">Название фильма</figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <section class="saveddevider section section_size_narrow content__section">
      </section>

    </main>
    <footer class="footer section section_size_medium page__footer">
      <div class="footer__upper">
        <p class="footer__description">учебный проект Яндекс.Практикум х BeatFilm.</p>
      </div>
      <div class="footer__content">
        <p class="footer__copyright">&copy; 2021</p>
        <nav class="navigation">
          <ul class="navigation__list footer__list">
            <li class="navigation__item">
              <a href="" class="navigation__list-link footer__list-link" target="_blank">Яндекс.Практикум</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__list-link footer__list-link" target="_blank">Github</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__list-link footer__list-link" target="_blank">Facebook</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</body>

</html>
