.short-movies__input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  justify-self: stretch;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8B8B8B;
  background-color: #202020;
}
