.buscar {
  margin-bottom: 10px;
  background-color: #202020;
  max-width: calc(100% - 70px*2);
  display: grid;
  row-gap: 26px;
  padding: 70px 0 43px;
  border-bottom: 1px solid rgb(170, 170, 170, .8); /* #AAAAAA */
}

@media screen and (max-width: 1098px){
  .buscar {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px){
  .buscar {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 425px){
  .buscar {

  }
}

.buscar__seach {
  display: block;
}

.seach__input-wrapper {
  margin-bottom: 0;
  display: grid;
  flex-direction: row;
  grid-template-columns: minmax(800px, 1fr) 110px;
  grid-template-columns: calc(100% - (110px + 10px)) 110px;
  grid-template-rows: 72px;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1.5px solid rgb(170, 170, 170, .8); /* #AAAAAA */
  border-radius: 8px;
  background-color: #202020;
}

.seach__input {

  padding: 25px;
  justify-self: stretch;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8B8B8B;
}

.seach__button {
  width: 100px;
  height: 52px;
  background-color: #4285F4;
  border-radius: 5px;
  padding: 0;
  border: none;
}

.seach__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

