.login {
  padding-bottom: 70px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.login__form {
  padding-bottom: 16px;
}

.login__list {
  margin: 0;
  padding-left: 0;
  display: grid;
  row-gap: 20px;
  list-style-type: none;
  font-style: normal;
}

.login__list-item {
  display: flex;
  flex-direction: column;
  display: grid;
  row-gap: 10px;
}

.login__target {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.login__input {
  width: 100%;
  height: 46px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 8px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.login__input::placeholder {
  padding-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}


.login_color_red {
  color: #EE3465;
}

.login__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.login__button {
  margin-top: 179px;
  width: 100%;
  height: 45px;
  padding: 0;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .login__button {
    margin-top: 267px;
  }
}

.login__button-ready-to-submit {
  background-color: rgb(51, 122, 183);
}

.login__button-text {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 425px) {
  .login__button-text {
    font-size: 12px;
    line-height: 15px;
  }
}

.login__register {
  align-self: center;
  display: flex;
}

.login__subtitle {
  margin: 0;
  padding-right: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 425px) {
  .login__subtitle {
    padding-right: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}

.login__register-link {
  padding: 0;
  font-weight: 400;
  color: #4285F4;
}

.login__link-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 425px) {
  .login__link-text {
    font-size: 12px;
    line-height: 15px;
  }
}
