.movies__filter {
  margin-top: 26px;
  margin-bottom: 0;
  display: flex;
}

.movies__description-tumb {
  display: flex;
}

.movies__tumb {
  display: none;
}

.movies__checkbox {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-right: 14px;
  width: 34px;
  height: 14px;
  border-radius: 20px;
}

.movies__checkbox-on {
  background-color: #3DDC84;
}

.movies__checkbox-off {
  background-color: #ebebeb;
}

.movies__tumb-small {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.movies__tumb-small-on {
  margin-right: 2px;
  margin-left: auto;
  background-color: #ffffff;
}

.movies__tumb-small-off {
  margin-right: auto;
  margin-left: 2px;
  background-color: #f5f5f5;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

@media screen and (max-width: 425px){
  .description {
    font-size: 11px;
  }
}
